:root {
  --oxyplug-white-color: #fff;
  --oxyplug-alpha-white-color-6: rgba(255, 255, 255, 0.6);

  --oxyplug-black: #000;
  --oxyplug-alpha-black-6: rgba(0, 0, 0, 0.6);
  --oxyplug-alpha-black-3: rgba(0, 0, 0, 0.3);
  --oxyplug-dark-black: #555;
  --oxyplug-darker-black: #333;

  --oxyplug-dark-gray: #888;
  --oxyplug-gray: #aaa;
  --oxyplug-lighter-gray: #ccc;
  --oxyplug-lightest-gray: #eee;

  --oxyplug-blue: #4285f4;
  --oxyplug-alpha-blue-2: rgba(66, 133, 244, 0.2);

  --oxyplug-green: #34a853;
  --oxyplug-alpha-green-5: rgba(52, 168, 83, 0.5);
  --oxyplug-alpha-green-2: rgba(52, 168, 83, 0.2);

  --oxyplug-yellow: #fbbc05;
  --oxyplug-alpha-yellow-2: rgba(251, 188, 5, 0.2);

  --oxyplug-red: #e00;
  --oxyplug-dark-red: #ab0000;
  --oxyplug-alpha-red-2: rgba(255, 0, 0, 0.2);

  --oxyplug-aqua: #00a7ab;
  --oxyplug-alpha-aqua-2: rgba(0, 167, 171, 0.2);
}

/* Montserrat Font Starts Here */
/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('chrome-extension://__MSG_@@extension_id__/assets/fonts/montserrat-v25-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('chrome-extension://__MSG_@@extension_id__/assets/fonts/montserrat-v25-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('chrome-extension://__MSG_@@extension_id__/assets/fonts/montserrat-v25-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('chrome-extension://__MSG_@@extension_id__/assets/fonts/montserrat-v25-latin-regular.woff') format('woff'), /* Modern Browsers */ url('chrome-extension://__MSG_@@extension_id__/assets/fonts/montserrat-v25-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('chrome-extension://__MSG_@@extension_id__/assets/fonts/montserrat-v25-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}

/* montserrat-500 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('chrome-extension://__MSG_@@extension_id__/assets/fonts/montserrat-v25-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('chrome-extension://__MSG_@@extension_id__/assets/fonts/montserrat-v25-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('chrome-extension://__MSG_@@extension_id__/assets/fonts/montserrat-v25-latin-500.woff2') format('woff2'), /* Super Modern Browsers */ url('chrome-extension://__MSG_@@extension_id__/assets/fonts/montserrat-v25-latin-500.woff') format('woff'), /* Modern Browsers */ url('chrome-extension://__MSG_@@extension_id__/assets/fonts/montserrat-v25-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */ url('chrome-extension://__MSG_@@extension_id__/assets/fonts/montserrat-v25-latin-500.svg#Montserrat') format('svg'); /* Legacy iOS */
}

/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('chrome-extension://__MSG_@@extension_id__/assets/fonts/montserrat-v25-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('chrome-extension://__MSG_@@extension_id__/assets/fonts/montserrat-v25-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('chrome-extension://__MSG_@@extension_id__/assets/fonts/montserrat-v25-latin-700.woff2') format('woff2'), /* Super Modern Browsers */ url('chrome-extension://__MSG_@@extension_id__/assets/fonts/montserrat-v25-latin-700.woff') format('woff'), /* Modern Browsers */ url('chrome-extension://__MSG_@@extension_id__/assets/fonts/montserrat-v25-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */ url('chrome-extension://__MSG_@@extension_id__/assets/fonts/montserrat-v25-latin-700.svg#Montserrat') format('svg'); /* Legacy iOS */
}

/* montserrat-italic - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('chrome-extension://__MSG_@@extension_id__/assets/fonts/montserrat-v25-latin-italic.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('chrome-extension://__MSG_@@extension_id__/assets/fonts/montserrat-v25-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('chrome-extension://__MSG_@@extension_id__/assets/fonts/montserrat-v25-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */ url('chrome-extension://__MSG_@@extension_id__/assets/fonts/montserrat-v25-latin-italic.woff') format('woff'), /* Modern Browsers */ url('chrome-extension://__MSG_@@extension_id__/assets/fonts/montserrat-v25-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */ url('chrome-extension://__MSG_@@extension_id__/assets/fonts/montserrat-v25-latin-italic.svg#Montserrat') format('svg'); /* Legacy iOS */
}

/* Montserrat Font Ends Here */

.oxyplug-tech-seo-h1 {
  margin: 0 0 10px 0;
  font-weight: 500;
  font-size: 19px;
  border-radius: 3px;
  text-align: center;
  background-color: var(--oxyplug-white-color);
  padding: 8px;
  color: var(--oxyplug-green);
  border: 2px solid var(--oxyplug-green);
  user-select: none;
}

/* Modal Starts Here */
.oxyplug-modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  overflow: auto;
  background-color: var(--oxyplug-alpha-black-6);
  direction: ltr;
}

.oxyplug-modal-content {
  background-color: var(--oxyplug-white-color);
  margin: auto auto 15px auto;
  padding: 10px 10px 5px 10px;
  border: 1px solid var(--oxyplug-dark-gray);
  width: 90%;
  position: relative;
  border-radius: 3px;
}

.oxyplug-modal-content h1 {
  margin-right: 24px;
}

.oxyplug-modal-content ul {
  padding: 0;
  margin: 0;
  list-style: none;
  font-weight: 500;
  font-size: 1.2em;
  line-height: 1.1em;
}

.oxyplug-modal-content ul li {
  margin-bottom: 5px;
  background: var(--oxyplug-lightest-gray);
  padding: 8px;
  position: relative;
}

.oxyplug-modal-content ul li span {
  width: 24px;
  height: 24px;
  line-height: 24px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin-right: 5px;
  color: var(--oxyplug-white-color);
}

.oxyplug-modal-content ul li span.issue-number {
  background: var(--oxyplug-dark-red);
}

.oxyplug-modal-content ul li span.info {
  background: var(--oxyplug-aqua);
}

.oxyplug-modal-content ul li span.warning {
  background: var(--oxyplug-yellow);
}

.oxyplug-modal-close {
  color: var(--oxyplug-gray);
  float: right;
  font-size: 24px;
  font-weight: bold;
  line-height: 0;
  position: absolute;
  right: 10px;
  top: 30px;
}

.oxyplug-modal-close:hover,
.oxyplug-modal-close:focus {
  color: var(--oxyplug-black);
  text-decoration: none;
  cursor: pointer;
}

/* Modal Ends Here */

.oxyplug-list > ul {
  margin: 0;
  padding: 0;
  background-color: var(--oxyplug-gray);
  color: var(--oxyplug-white-color);
  border-radius: 3px;
  overflow-y: auto;
  max-height: 250px;
  transition: height 0.3s;
}

.oxyplug-list > ul li {
  padding: 3px 10px 6px 5px;
  margin-bottom: 1px;
  font-size: 12px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-left: 0 solid var(--oxyplug-green);
  transition: border-left 0.2s;
}

.oxyplug-list > ul li:nth-of-type(odd) {
  background-color: var(--oxyplug-darker-black);
}

.oxyplug-list > ul li:nth-of-type(even) {
  background-color: var(--oxyplug-dark-black);
}