.oxyplug-tech-seo > img {
  filter: grayscale(100%) brightness(80%) contrast(120%) sepia(30%);
}

.oxyplug-modal,
.oxyplug-modal *:not(.oxyplug-modal-close),
.oxyplug-tech-seo-highlight {
  font-family: Montserrat, sans-serif !important;
  font-weight: 500;
  font-size: 18px;
}

/* Modal Starts Here */
.oxyplug-modal {
  z-index: 9999;
  height: 100%;
}

.oxyplug-modal-content {
  top: 30%;
}

@media (min-width: 768px) {
  .oxyplug-modal-content {
    width: 714px;
  }
}

.oxyplug-modal-content h1 {
  font-size: 24px;
}

.oxyplug-modal-content ul li {
  text-align: left;
  direction: ltr;
  font-weight: normal;
  margin-left: 0;
  margin-right: 0;
}
/* Modal Ends Here */

.oxyplug-tech-seo-highlight {
  padding: 0;
  margin: 0;
  color: var(--oxyplug-black);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 10;
  transform: translate(-50%, -50%);
  font-size: 4em;
  font-weight: bold;
  text-shadow: 1px 1px 1px var(--oxyplug-black), -1px -1px 1px var(--oxyplug-black);
  background-color: var(--oxyplug-alpha-white-color-6);
  width: 100%;
  height: 100%;
  line-height: 1;
  border-radius: 3px;
  user-select: none;
  cursor: pointer;
}