.oxyplug-modal,
.oxyplug-tech-seo-highlight {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
}

/* Modal Starts Here */
.oxyplug-modal {
  z-index: 9999;
  height: 100%;
}
.oxyplug-modal-content {
  top: 30%;
}
@media(min-width: 768px) {
  .oxyplug-modal-content {
    width: 714px;
  }
}
.oxyplug-modal-content h1 {
  font-size: 24px;
}
.oxyplug-modal-content ul li {
  text-align: left;
  direction: ltr;
}
/* Modal Ends Here */

.oxyplug-tech-seo-highlight {
  padding: 0;
  margin: 0;
  color: var(--oxyplug-black);
  display: block;
  position: absolute;
  z-index: 2;
  transform: translate(-50%, -50%);
  font-size: 4em;
  font-weight: bold;
  text-shadow: 1px 1px 1px var(--oxyplug-black), -1px -1px 1px var(--oxyplug-black);
  background-color: var(--oxyplug-alpha-white-color-9);
  width: 1em;
  height: 1em;
  text-align: center;
  line-height: 1;
  border-radius: 3px;
  user-select: none;
  cursor: pointer;
}

.oxyplug-tech-seo-highlight::before {
  content: 'Click for more details...';
  position: absolute;
  top: -20px;
  right: -40px;
  width: 135px;
  height: 12px;
  font-size: 11px;
  direction: ltr;
  color: var(--oxyplug-red);
  text-shadow: 0 -1px 1px var(--oxyplug-black), 0 1px 1px var(--oxyplug-black);
  opacity: 0;
  transition: opacity 0.1s;
}

.oxyplug-tech-seo-highlight.hovered::before {
  opacity: 1;
}