/* Reset Starts Here */
.button[class^="oxyplug-icon-"],
.button[class*=" oxyplug-icon-"] {
  border: none;
  outline: none;
  padding: 12px;
  margin: 0;
  line-height: 1;
  font-size: 2em;
}

/* Reset Ends Here */

/* Font Icon Starts Here */
@font-face {
  font-family: 'oxyplug-icon';
  src: url('../fonts/oxyplug-icons.eot?vvt49g');
  src: url('../fonts/oxyplug-icons.eot?vvt49g#iefix') format('embedded-opentype'),
  url('../fonts/oxyplug-icons.ttf?vvt49g') format('truetype'),
  url('../fonts/oxyplug-icons.woff?vvt49g') format('woff'),
  url('../fonts/oxyplug-icons.svg?vvt49g#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="oxyplug-icon-"],
[class*=" oxyplug-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'oxyplug-icon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.oxyplug-icon-home:before {
  content: "\e900";
}

.oxyplug-icon-cog:before {
  content: "\e994";
}

.oxyplug-icon-info:before {
  content: "\ea0c";
}

.oxyplug-icon-new-tab:before {
  content: "\ea7e";
}

.oxyplug-icon-exclude:before {
  content: "\e901";
}

/* Font Icon Ends Here */

body,
button {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
}

/* Modal Starts Here */
.oxyplug-modal {
  --h-space: 20px;
  z-index: 1;
  height: calc(100% - var(--h-space));
  padding-top: var(--h-space);
}

/* Modal Ends Here */

/* Main Starts Here */
body {
  width: 360px;
  padding: 8px;
  margin: 0;
  outline: none;
  border: none;
  background-color: var(--oxyplug-lightest-gray);
}

label {
  font-size: 1.1em;
  font-weight: 700;
}

.button {
  cursor: pointer;
  transition: box-shadow 0.3s;
  color: var(--oxyplug-white-color);
  padding: 10px 22px;
  font-size: 1.3em;
  font-weight: 700;
  border-radius: 3px;
  border: none;
  background-color: var(--oxyplug-lighter-gray);
}

.button:disabled {
  cursor: not-allowed;
}

.button-small {
  padding: 6px 7px 5px;
  font-size: 1em;
}

.button:not(:disabled):hover {
  box-shadow: inset 0 0 200px rgba(0, 0, 0, 0.1);
}

.button.button-primary:not(:disabled) {
  background-color: var(--oxyplug-blue);
  box-shadow: inset 0 0 200px rgba(0, 0, 0, 0.2);
}

.button.button-primary:not(:disabled):hover {
  box-shadow: inset 0 0 200px rgba(0, 0, 0, 0.3);
}

.button.button-danger:not(:disabled) {
  background-color: var(--oxyplug-red);
}

.button.button-info:not(:disabled) {
  background-color: var(--oxyplug-aqua);
}

nav.oxyplug-section > .button {
  background-color: var(--oxyplug-white-color);
  border-width: 2px;
  border-style: solid;
}

nav.oxyplug-section > .button:hover {
  box-shadow: inset 0 0 200px rgba(0, 0, 0, 0.05);
}

.button.oxyplug-icon-home {
  border-color: var(--oxyplug-blue);
  color: var(--oxyplug-blue);
}

.button.button-active.oxyplug-icon-home {
  background-color: var(--oxyplug-blue);
}

.button.oxyplug-icon-cog {
  border-color: var(--oxyplug-green);
  color: var(--oxyplug-green);
}

.button.button-active.oxyplug-icon-cog {
  background-color: var(--oxyplug-green);
}

.button.oxyplug-icon-exclude {
  border-color: var(--oxyplug-red);
  color: var(--oxyplug-red);
}

.button.button-active.oxyplug-icon-exclude {
  background-color: var(--oxyplug-red);
}

.button.oxyplug-icon-info {
  border-color: var(--oxyplug-yellow);
  color: var(--oxyplug-yellow);
}

.button.button-active.oxyplug-icon-info {
  background-color: var(--oxyplug-yellow);
}

.button.button-active {
  color: var(--oxyplug-white-color);
}

nav {
  margin: 5px 0;
  position: relative;
}

nav > a {
  position: absolute;
  right: 5px;
  bottom: 5px;
  font-size: 9px;
  font-style: italic;
  text-decoration: none;
  color: #999;
}

.oxyplug-section {
  background-color: var(--oxyplug-white-color);
  padding: 8px;
  box-shadow: 0 0 5px 0 var(--oxyplug-alpha-black-3);
  border-radius: 3px;
}

#content > div:not(:first-of-type) {
  display: none;
}

.h-separator {
  margin: 20px 0;
  background-color: var(--oxyplug-alpha-green-5);
  width: 100%;
  height: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.h-separator::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background-color: var(--oxyplug-green);
}

#oxyplug-is-processing {
  display: none;
}

#oxyplug-is-processing > span {
  color: var(--oxyplug-red);
  display: block;
  margin: 5px 0 15px;
}

#oxyplug-is-processing > div {
  border: 30px solid var(--oxyplug-blue);
  border-left-color: var(--oxyplug-red);
  border-top-color: var(--oxyplug-yellow);
  border-right-color: var(--oxyplug-green);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  -webkit-animation: circulate 2s linear infinite;
  animation: circulate 1s linear infinite;
  margin: auto;
}

@-webkit-keyframes circulate {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes circulate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Main Ends Here */

/* Home Page Starts Here */
#last-audit-date {
  margin: 5px 0 10px;
  color: var(--oxyplug-dark-black);
  font-style: italic;
  font-size: 11px;
}

#oxyplug-issue-list ul li:hover,
#oxyplug-issue-list ul li:active,
#oxyplug-issue-list ul li.active {
  border-left-width: 3px;
}

#oxyplug-issue-list ul li a {
  color: var(--oxyplug-green);
  margin-right: 3px;
}

#oxyplug-issue-list ul li button {
  background: none;
  border: none;
  outline: none;
  color: var(--oxyplug-red);
  padding: 0;
  margin-right: 5px;
  vertical-align: middle;
  cursor: pointer;
}

/* Home Page Ends Here */

/* Settings Page Starts Here */
#oxyplug-max-image-filesize,
#oxyplug-max-image-alt,
#oxyplug-max-scrolling {
  border: 1px solid var(--oxyplug-lighter-gray);
  border-radius: 3px;
  padding: 10px;
  text-align: center;
  width: 80px;
  display: block;
}

#oxyplug-x-color,
#oxyplug-x-color-all {
  display: block;
}

#oxyplug-rtl-scrolling,
[for="oxyplug-rtl-scrolling"] {
  vertical-align: middle;
}

.oxyplug-tabs {
  display: none;
  margin-bottom: 5px;
}

.oxyplug-tabs > button {
  margin-bottom: 3px;
}

.oxyplug-tabs > button.active {
  background-color: var(--oxyplug-dark-black);
}

.oxyplug-tabs > button > span {
  background: var(--oxyplug-alpha-blue-2);
  font-size: 0.9em;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: inline-block;
  line-height: 2;
  margin-left: 7px;
}

.oxyplug-tabs > button.active > span {
  background: var(--oxyplug-blue);
}

.oxyplug-tabs > button > span.has-issue {
  background: var(--oxyplug-alpha-red-2);
}

.oxyplug-tabs > button.active > span.has-issue {
  background: var(--oxyplug-red);
}

.oxyplug-tabs > button > span.has-issue.warning {
  background: var(--oxyplug-alpha-yellow-2);
}

.oxyplug-tabs > button.active > span.has-issue.warning {
  background: var(--oxyplug-yellow);
}

.oxyplug-tabs > button > span.has-issue.info {
  background: var(--oxyplug-alpha-aqua-2);
}

.oxyplug-tabs > button.active > span.has-issue.info {
  background: var(--oxyplug-aqua);
}

/* Settings Page Ends Here */

/* Exclusions Page Starts Here */
#exclusions h2 {
  margin: 0 0 10px 0;
  color: #555;
  border-bottom: 1px solid #aaa;
}

#exclusions p {
  margin: 0 0 0 3px;
}

#exclusions ul li {
  cursor: pointer;
}

/* Exclusions Page Ends Here */

/* Info/LearnMore Page Starts Here */
#learn h2 {
  margin: 0 10px;
  color: #555;
  border-bottom: 1px solid #aaa;
}

#learn ul {
  padding: 0 0 0 25px;
  margin: 8px 0 0 0;
}

#learn ul li {
  margin-bottom: 10px;
}

#learn a {
  color: #1a0dab;
  font-weight: 500;
  text-decoration: none;
}

#learn a:visited {
  color: #8d63b3;
}

/* Info/LearnMore Page Ends Here */