/* Reset Starts Here */
.button[class^="oxyplug-icon-"],
.button[class*=" oxyplug-icon-"] {
  border: none;
  outline: none;
  padding: 12px;
  margin: 0;
  line-height: 1;
  font-size: 2em;
}

/* Reset Ends Here */

/* Font Icon Starts Here */
.oxyplug-icon-home:before {
  content: "\e900";
}

.oxyplug-icon-cog:before {
  content: "\e994";
}

.oxyplug-icon-exclude:before {
  content: "\e901";
}

.oxyplug-icon-history:before {
  content: "\e903";
}

.oxyplug-icon-new-tab:before {
  content: "\ea7e";
}

.oxyplug-icon-bin:before {
  content: "\e9ac";
}

/* Font Icon Ends Here */

body,
button {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
}

/* Modal Starts Here */
.oxyplug-modal {
  --h-space: 20px;
  z-index: 10;
  height: calc(100% - var(--h-space));
  padding-top: var(--h-space);
}

/* Modal Ends Here */

/* Main Starts Here */
body {
  width: 380px;
  padding: 8px;
  margin: 0;
  outline: none;
  border: none;
  background-color: var(--oxyplug-lightest-gray);
}

.d-none {
  display: none;
}

label {
  font-size: 1.1em;
  font-weight: 700;
}

.button {
  cursor: pointer;
  transition: box-shadow 0.3s;
  color: var(--oxyplug-white-color);
  padding: 10px 20px;
  font-size: 1.3em;
  font-weight: 700;
  border-radius: 3px;
  border: none;
  background-color: var(--oxyplug-lighter-gray);
}

.button:disabled {
  cursor: not-allowed;
}

.button-small {
  padding: 6px 7px 5px;
  font-size: 1em;
}

.button:not(:disabled):hover,
.button:not(:disabled):hover > .similar-style {
  box-shadow: inset 0 0 200px rgba(0, 0, 0, 0.1);
}

.button.button-primary:not(:disabled) {
  background-color: var(--oxyplug-blue);
  box-shadow: inset 0 0 200px rgba(0, 0, 0, 0.2);
}

.button.button-primary:not(:disabled):hover {
  box-shadow: inset 0 0 200px rgba(0, 0, 0, 0.3);
}

.button.button-danger:not(:disabled) {
  background-color: var(--oxyplug-red);
}

.button.button-info:not(:disabled) {
  background-color: var(--oxyplug-aqua);
}

nav.oxyplug-section > .button {
  background-color: var(--oxyplug-white-color);
  border-width: 2px;
  border-style: solid;
}

nav.oxyplug-section > .button:hover {
  box-shadow: inset 0 0 200px rgba(0, 0, 0, 0.05);
}

.button.oxyplug-icon-home {
  border-color: var(--oxyplug-blue);
  color: var(--oxyplug-blue);
}

.button.button-active.oxyplug-icon-home {
  background-color: var(--oxyplug-blue);
}

.button.oxyplug-icon-cog {
  border-color: var(--oxyplug-green);
  color: var(--oxyplug-green);
}

.button.button-active.oxyplug-icon-cog {
  background-color: var(--oxyplug-green);
}

.button.oxyplug-icon-exclude {
  border-color: var(--oxyplug-red);
  color: var(--oxyplug-red);
}

.button.button-active.oxyplug-icon-exclude {
  background-color: var(--oxyplug-red);
}

.button.oxyplug-icon-info {
  border-color: var(--oxyplug-aqua);
  color: var(--oxyplug-aqua);
}

.button.button-active.oxyplug-icon-info {
  background-color: var(--oxyplug-aqua);
}

.button.oxyplug-icon-history {
  border-color: var(--oxyplug-yellow);
  color: var(--oxyplug-yellow);
}

.button.button-active.oxyplug-icon-history {
  background-color: var(--oxyplug-yellow);
}

.button.button-active {
  color: var(--oxyplug-white-color);
}

nav {
  margin: 5px 0;
  position: relative;
}

nav > a {
  position: absolute;
  right: 5px;
  bottom: 5px;
  font-size: 9px;
  font-style: italic;
  text-decoration: none;
  color: var(--oxyplug-dark-gray);
}

.oxyplug-section {
  background-color: var(--oxyplug-white-color);
  padding: 8px;
  box-shadow: 0 0 5px 0 var(--oxyplug-alpha-black-3);
  border-radius: 3px;
}

#content > div:not(:first-of-type) {
  display: none;
}

.next-to-each-other > div {
  display: inline-block;
  margin-right: 15px;
}

.sub-options {
  margin: 10px 0;
}

.sub-options > label {
  font-weight: 500;
  font-size: 1em;
  margin-right: 30px;
}

.sub-options > input {
  margin: 0;
  vertical-align: bottom;
}

.h-separator {
  margin: 15px 0;
  background-color: var(--oxyplug-alpha-green-5);
  width: 100%;
  height: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.h-separator::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background-color: var(--oxyplug-green);
}

#oxyplug-is-processing {
  display: none;
}

#oxyplug-is-processing > span {
  color: var(--oxyplug-red);
  display: block;
  margin: 5px 0 15px;
}

#oxyplug-is-processing > div:first-of-type {
  border: 30px solid var(--oxyplug-blue);
  border-left-color: var(--oxyplug-red);
  border-top-color: var(--oxyplug-yellow);
  border-right-color: var(--oxyplug-green);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  -webkit-animation: circulate 2s linear infinite;
  animation: circulate 1s linear infinite;
  margin: auto;
}

@-webkit-keyframes circulate {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes circulate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.progress-container {
  position: relative;
  width: 100%;
  height: 20px;
  background-color: var(--oxyplug-lightest-gray);
  border: 2px solid var(--oxyplug-lightest-gray);
  border-radius: 3px;
  overflow: hidden;
  margin-top: 10px;
}

.progress-bar {
  background-image: linear-gradient(
    45deg,
    var(--oxyplug-white-color) 25%,
    var(--oxyplug-aqua) 25%,
    var(--oxyplug-aqua) 50%,
    var(--oxyplug-white-color) 50%,
    var(--oxyplug-white-color) 75%,
    var(--oxyplug-aqua) 75%,
    var(--oxyplug-aqua)
  );
  background-size: 1rem 1rem;
  animation: progress-bar-stripes 1s linear infinite;
  height: 100%;
  width: 0;
}

.progress-container > span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 1.3em;
  text-shadow: 0 0 5px var(--oxyplug-black);
  color: var(--oxyplug-white-color);
  user-select: none;
}

@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 1rem 0;
  }
}

@keyframes progress-bar-stripes {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 1rem 0;
  }
}

#progress-logs {
  display: none;
  color: var(--oxyplug-darker-gray);
  font-size: 11px;
  line-height: 1.5;
  position: relative;
}

#progress-logs > button {
  position: absolute;
  right: 3px;
  top: 3px;
  padding: 0 3px;
  font-size: 20px;
  line-height: 0.9;
  border: none;
  color: var(--oxyplug-darker-gray);
  cursor: pointer;
}

#progress-logs > ul {
  list-style: none;
  margin: 0;
  padding: 0 0 0 10px;
}

#progress-logs > ul li::marker {
  content: "> ";
  color: var(--oxyplug-lighter-gray);
}

#progress-logs > ul li:last-of-type::marker {
  color: var(--oxyplug-aqua);
}

/* Main Ends Here */

/* Home Page Starts Here */
#main-buttons {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

#main-buttons button {
  flex-grow: 1;
  padding: 8px;
  font-weight: 500;
}

.info-box {
  background: var(--oxyplug-lightest-gray);
  border: 1px solid var(--oxyplug-lighter-gray);
  border-radius: 3px;
  padding: 3px 6px;
  margin: 5px 0;
  line-height: 1.7;
}

#oxyplug-issue-list ul li:hover,
#oxyplug-issue-list ul li:active,
#oxyplug-issue-list ul li.active {
  border-left-width: 3px;
}

.oxyplug-list ul li .oxyplug-icon-new-tab {
  color: var(--oxyplug-green);
  margin-right: 3px;
  text-shadow: 0 0 1px var(--oxyplug-black);
}

.oxyplug-list ul li button {
  background: none;
  border: none;
  outline: none;
  color: var(--oxyplug-red);
  padding: 0;
  margin-right: 5px;
  vertical-align: middle;
  cursor: pointer;
  text-shadow: 0 0 1px var(--oxyplug-black);
}

/* Home Page Ends Here */

/* Settings Page Starts Here */
#oxyplug-max-image-filesize,
#oxyplug-max-image-alt,
#oxyplug-max-scrolling {
  border: 1px solid var(--oxyplug-lighter-gray);
  border-radius: 3px;
  padding: 10px;
  text-align: center;
  width: 80px;
  display: block;
}

#oxyplug-x-color,
#oxyplug-x-color-all {
  display: block;
}

#oxyplug-rtl-scrolling,
[for="oxyplug-rtl-scrolling"] {
  vertical-align: middle;
}

.oxyplug-tabs {
  display: none;
  margin: 5px 0;
}

.oxyplug-tabs > button {
  margin-bottom: 3px;
}

.oxyplug-tabs > button.active {
  background-color: var(--oxyplug-darker-gray);
}

.oxyplug-tabs > button > span {
  background: var(--oxyplug-alpha-blue-2);
  font-size: 0.9em;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: inline-block;
  line-height: 2;
  margin-left: 7px;
}

.oxyplug-tabs > button.active > span {
  background: var(--oxyplug-blue);
}

.oxyplug-tabs > button > span.has-issue {
  background: var(--oxyplug-alpha-red-2);
}

.oxyplug-tabs > button.active > span.has-issue {
  background: var(--oxyplug-red);
}

.oxyplug-tabs > button > span.has-issue.warning {
  background: var(--oxyplug-alpha-yellow-2);
}

.oxyplug-tabs > button.active > span.has-issue.warning {
  background: var(--oxyplug-yellow);
}

.oxyplug-tabs > button > span.has-issue.info {
  background: var(--oxyplug-alpha-aqua-2);
}

.oxyplug-tabs > button.active > span.has-issue.info {
  background: var(--oxyplug-aqua);
}

/* Settings Page Ends Here */

/* Exclusions Page Starts Here */
#exclusions h2 {
  margin: 0 0 10px 0;
  color: var(--oxyplug-darker-gray);
  border-bottom: 1px solid #aaa;
}

#exclusions p {
  margin: 0 0 0 3px;
}

#exclusions ul li {
  cursor: pointer;
}

/* Exclusions Page Ends Here */

/* Info/LearnMore Page Starts Here */
#learn h2 {
  margin: 0 10px;
  color: var(--oxyplug-darker-gray);
  border-bottom: 1px solid #aaa;
}

#learn ul {
  padding: 0 0 0 25px;
  margin: 8px 0 0 0;
}

#learn ul li {
  margin-bottom: 10px;
}

#learn a {
  color: var(--oxyplug-blue);
  font-weight: 500;
  text-decoration: none;
}

/* Info/LearnMore Page Ends Here */

/* History Page Starts Here */
#history h2 {
  margin: 0 0 10px 0;
  color: var(--oxyplug-darker-gray);
  border-bottom: 1px solid #aaa;
}

#history > ul li {
  cursor: pointer;
  position: relative;
  padding: 0 10px 28px 0;
}

#history > ul li > div {
  display: inline-block;
  z-index: 10;
  width: fit-content;
  height: 100%;
  position: absolute;
  top: 0;
  padding-left: 5px;
  line-height: 3.6;
}

#history > ul li:nth-of-type(odd) > div {
  color: var(--oxyplug-darkest-gray);
  background-color: var(--oxyplug-lightest-gray);
}

#history > ul li:nth-of-type(even) > div {
  color: var(--oxyplug-darkest-gray);
  background-color: var(--oxyplug-white-color);
}

#history > ul li > span {
  display: inline-block;
  position: absolute;
  height: 100%;
  width: fit-content;
  top: 0;
  line-height: 3.6;
}

/* History Page Ends Here */